body {
  background: url('./img/img.jpg');
  background-size: cover;
}

.keys {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}

.key {
  border: 1px solid #cecece;
  padding: 20px;
  margin: 20px;
  color: white;
  text-align: center;
  font-size: 25px;
  transition: all 0.07s;
}

.playing {
  transform: scale(1.1);
  border-color: #cecece;
  box-shadow: 0 0 10px #cecece;
}
